html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#title {
    height: 8vh;
}

#chat {
    min-height: 84vh;
    max-height: 84vh;
    overflow-y: scroll;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    word-wrap: break-word;
}

#send-group {
    height: 8vh;
}