body {
    background-color: #f8f9fa;
    height: 100vh;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
